@page "/"
@inject OrderState OrderState
@using Pizza5050.Shared


<MudDivider>
    <MudProgressCircular>
       
    </MudProgressCircular>
</MudDivider>

    @*<div class="">
            <ul class="pizza-cards">
                @if (specials != null)
                {
                    @foreach (var special in specials)
                    {
                        <li @onclick="@(() => OrderState.ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                            <div class="pizza-info">
                                <span class="title">@special.Name</span>
                                @special.Description
                                <span class="price">@special.GetFormattedBasePrice()</span>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>*@



@*@code{


        public List<PizzaSpecial> specials { get; set; }
        Order Order => OrderState.Order;

        [Inject]
        public IPizzaSpecials PizzaSpecialService { get; set; }

        protected override async Task OnInitializedAsync()
        {
            specials = (await PizzaSpecialService.GetPizzaSpecials()).ToList();
        }



    }*@
